* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #0f172a;
  color: white;
}


.navbar {
  background-color: #020617;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

.navlinks a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navlinks a:hover {
  color: #ec2f09;
}

.hero {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  max-width: 700px;
  opacity: 0.9;
}

.hero-buttons {
  margin-top: 25px;
}

.btn-primary {
  background-color: #2563eb;
  padding: 12px 22px;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}

.btn-outline {
  border: 2px solid #38bdf8;
  padding: 10px 22px;
  color: #38bdf8;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-outline:hover {
  background-color: #38bdf8;
  color: black;
}

.pillars {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px 20px;
  flex-wrap:
  wrap;
}

.pillar-card {
  background-color: #020617;
  padding: 30px;
  width: 280px;
  border-radius: 10px;
  text-align: center;
}

.pillar-card h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.pillar-card p {
  opacity: 0.8;
  font-size: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #020617;
  padding: 15px;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.8;
}
